@import "@angular/material/theming";
@include mat-core();

// importar tema personalizado
@import "themes.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.page {
  padding-top: 10px;
  color: #103060;
  font-size: 15px;
}

.al-center {
  text-align: center;
}

.table-container {
  margin-top: 20px;
}
