@import "@angular/material/theming";
@include mat-core();

/* Definir cores claras */
$light-primary: mat-palette($mat-blue);
$light-secondary: mat-palette($mat-indigo, A200, A400, A700);
$light-warn: mat-palette($mat-red);

/* Definir tema das cores claras */
$custom-light-theme: mat-light-theme(
  $light-primary,
  $light-secondary,
  $light-warn
);

/* Definir cores escuras */
$dark-primary: mat-palette($mat-gray, 900);
$dark-secondary: mat-palette($mat-brown, 200, 400, 900);
$dark-warn: mat-palette($mat-red);

/* Definir tema das cores claras */
$custom-dark-theme: mat-dark-theme($dark-primary, $dark-secondary, $dark-warn);

// Definir a cor padrão
@include angular-material-theme($custom-light-theme);

.theme-dark {
  @include angular-material-theme($custom-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.page {
  padding-top: 10px;
  color: #103060;
  font-size: 15px;
}

.al-center {
  text-align: center;
}
